@font-face {
  font-family: 'NixieOne';
  src: url('../fonts/nixie-one/NixieOne-Regular-webfont.eot');
  src: url('../fonts/nixie-one/NixieOne-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/nixie-one/NixieOne-Regular-webfont.woff') format('woff'),
       url('../fonts/nixie-one/NixieOne-Regular-webfont.ttf') format('truetype'),
       url('../fonts/nixie-one/NixieOne-Regular-webfont.svg#NixieOne') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Colaborate';
  src: url('../fonts/colaborate/ColabLig-webfont.eot');
  src: url('../fonts/colaborate/ColabLig-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/colaborate/ColabLig-webfont.woff') format('woff'),
       url('../fonts/colaborate/ColabLig-webfont.ttf') format('truetype'),
       url('../fonts/colaborate/ColabLig-webfont.svg#Colaborate') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ModernPictograms';
  src: url('../fonts/modern-pictograms/modernpics-webfont.eot');
  src: url('../fonts/modern-pictograms/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/modern-pictograms/modernpics-webfont.woff') format('woff'),
       url('../fonts/modern-pictograms/modernpics-webfont.ttf') format('truetype'),
       url('../fonts/modern-pictograms/modernpics-webfont.svg#ModernPictograms') format('svg');
  font-weight: 400;
  font-style: normal;
}
