@import 'normalize';
@import 'defaults';
@import 'fonts';

@mixin nixieOne {
  font: {
    family: 'NixieOne';
    weight: normal;
  }
}


h1,
h2,
h3 {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    color: #AAA;
  }
}


html {
  background-image: url('../img/bg.jpg');
  background-repeat: repeat;
}

body {
  width: 900px;
  margin: 0 auto;
  padding: 86px 30px;
  color: #E6E6E6;
  font-family: 'Colaborate', Verdana, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6em;
}

header,
body>section {
  padding: 0 55px;
}

header,
#contact {
  background-color: #A0002A;
}

header {
  padding-top: 35px;
  padding-bottom: 85px;
  position: relative;
  height: 330px;
  background-image: url('../img/header.png');
  background-position: center bottom;
  background-repeat: no-repeat;

  h1 {
    background-image: url('../img/banner.png');
    background-position: center top;
    background-repeat: no-repeat;
    width: 902px;
    height: 321px;
    position: absolute;
    left: -1px;
    top: 35px;
  }

  blockquote {
    @include nixieOne;
    position: absolute;
    font-size: 45px;
    line-height: 51px;
    text-align: center;
    width: 434px;
    top: 160px;
    left: 410px;
    margin: 0;
  }
}

#profile {
  background-color: #343434;
  background-image: url('../img/profile.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-top: 25px;
  padding-bottom: 70px;

  h2 {
    @include nixieOne;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    padding: 6px 0;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    margin: 5px 0 35px 0;
  }
}

#heather {
  float: left;
  width: 242px;
  height: 470px;
  padding: 0 57px;
  text-align: center;
  background-image: url('../img/heather.png');
  background-position: left top;
  background-repeat: no-repeat;

  img {
   display: block;
  }

  h3 {
    @include nixieOne;
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 12px 0;
  }

  p {
    margin: 0 0 12px 0;
    font-size: 14px;
    line-height: 18px;
  }

  .canz {
    display: block;
    text-align: left;
    padding: 10px 0 10px 60px;
    margin: 0 12px;
    background-image: url('../img/canz.png');
    background-position: left center;
    background-repeat: no-repeat;
  }
}

#mainText {
  float: left;
  width: 434px;

  p {
    margin: 0 0 8px 0;

    &:first-child {
      font-size: 32px;
      line-height: 36px;
    }
  }
}

#profile blockquote {
  margin: 0;
  padding-top: 15px;
  clear: both;
  @include nixieOne;

  p {
    font-size: 40px;
    line-height: 1.3em;
    margin: 0;

    &:first-child {
      margin-left: 32px;
      width: 390px;
      span {
        white-space: nowrap;
        text-align: right;
        display: block;
        font-size: 35px;
        &:first-child {
          text-align: left;
          font-size: 30px;
        }
      }
    }
  }
}

#contact {
  padding-top: 45px;

  h2 {
    @include nixieOne;
    font-size: 48px;
    line-height: 1em;
    margin: 0;
  }

  p {
    margin: 0 0 8px 0;
  }

  &>div {
    float: left;
  }

  &>div:first-child {
    width: 335px;
    padding-right: 20px;
  }

  dt {
      @extend .visuallyhidden;
    }

  dd {
    margin: 0;
    font-size: 21px;
    line-height: 45px;

    &:before {
      font-family: 'ModernPictograms';
      font-size: 45px;
      vertical-align: middle;
      width: 38px;
      display: inline-block;
      text-align: center;
    }

    &.location:before {
      content: ',';
    }

    &.email:before {
      content: 'm';
      font-size: 37px;
    }

    &.phone:before {
      content: 'O';
    }
  }

  form {
    margin-top: 10px;
    width: 434px;

    div {
      margin-bottom: 18px;
      padding: 0 1px;
      position: relative;
    }

    label,
    input {
      display: block;
    }

    label {
      &.desc {
        @extend .visuallyhidden;
      }

      &.required {
        position: absolute;
        top: 1px;
        right: 2%;
        font-size: 14px;
      }

      &.error {
        font-size: 14px;
      }

    }

    input,
    button,
    textarea {
      font-family: 'Colaborate', sans-serif;
      border: 1px solid #E6E6E6;
      color: #E6E6E6;
      font-size: 21px;
      line-height: 28px;
      background-color: transparent;
      border-radius: 3px;
      width: 415px;
      padding: 0 8px;

      &:focus {
        outline: none;
      }
    }

    button {
      display: block;
      float: right;
      width: auto;
      padding: 0 15px;
      background-color: #E6E6E6;
      color: #A0002A;

      &[disabled] {
        color: #999;
      }

      &:after {
        font-family: 'ModernPictograms';
        font-size: 1.5em;
        vertical-align: middle;
        margin-left: 6px;
        content: 'm';
        display: inline-block;
        text-align: center;
      }
    }
  }
}

footer {
  color: #B7B7B7;
  font-size: 16px;
  padding: 60px 55px 0 55px;
  background-image: url('../img/footer.png');
  background-position: right top;
  background-repeat: no-repeat;
  height: 45px;

  small {
    display: block;
    float: left;
    margin-right: 20px;
  }
}


@import 'helpers';



@media only screen and (max-width: 959px) {
  body {
    width: 640px;
    min-width: 320px;
    padding: 50px 0;
  }

  header {
    height: auto;

    h1 {
      background-image: url('../img/banner642.png');
      width: 642px;
    }

    blockquote {
      position: static;
      top: 0;
      left: 0;
      width: auto;
      margin-top: 360px;
    }
  }

  #mainText,
  #contact>div,
  #contact>form {
    float: none;
    width: auto;
    height: auto;
  }

  #heather {
    float: none;
    margin: 0 auto;
  }

  #profile blockquote {
    p {
      &:first-child {
        width: auto;
        margin-left: 60px;
        margin-right: 60px;
      }

      &+p {
        margin-top: 10px;
        font-size: 20px;
        text-align: center;
      }
    }
  }

  #contact {
    &>div:first-child {
      width: auto;
      padding: 0;
    }

    form {
      width: auto;

      input,
      textarea {
        width: 511px;
      }
    }
  }

  footer {
    padding-top: 80px;
  }
}

@media only screen and (max-width: 639px) {
  html {
    background-image: none;
  }

  body {
    width: auto;
    padding: 0;
  }

  header {
    padding-left: 0;
    padding-right: 0;

    blockquote {
      font-size: 40px;
      line-height: 45px;
    }
  }

  body>section,
  footer {
    padding-left: 0;
    padding-right: 0;

    &>* {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  header {
    h1 {
      width: 100%;
    }
  }

  #profile {

    h2 {
      margin: 0 auto 20px auto;
    }

    #heather {
      padding: 0 29px;
      background-position: top center;

      img {
        margin: 0 auto;
      }
    }

    blockquote {
      p {
        &:first-child {
          margin-left: 10%;
          margin-right: 10%;

          span {
            font-size: 30px;

            &:first-child {
              font-size: 27px;
            }
          }
        }
      }
    }

    blockquote {
      margin: 0 auto;

      p {
        &:first-child {
          margin: 0;
        }
      }
    }
  }


  #contact {
    text-align: center;

    dd {
      font-size: 18px;

      &:before {
        margin: 15px 0 -15px 0;
        display: block;
        width: auto;
      }
    }

    form {
      input,
      textarea {
        width: 281px;
      }

      button {
        float: none;
        width: 100%;
        padding: 0;
      }
    }
  }

  footer {
    background-image: none;
    background-color: #A0002A;
    height: auto;
    padding: 30px 0;

    small {
      float: none;
      margin: 0 auto;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 460px) {
  #logo {
    background-size: 500px auto;
    height: 280px;
  }

  header blockquote {
    margin-top: 300px;
  }
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
